---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <div>
        <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl">
          Akshay Chavan
        </h1>
        <p class="mt-4 text-xl text-gray-600">
          Security Researcher
        </p>
        <div class="mt-6 prose prose-indigo">
          <p>
            I'm a Master's Cyber Security Student with expertise in web security, VAPT and SOC. With experience in CTF 
            competitions and real-world security assessments, I focus on finding and fixing 
            vulnerabilities in system.
          </p>
          <div class="mt-8 flex space-x-4">
            <a href="https://github.com/akshaychavan10" target="_blank" rel="noopener noreferrer" 
               class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
              GitHub
            </a>
            <a href="https://linkedin.com/in/akshaychavan07" target="_blank" rel="noopener noreferrer"
               class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-indigo-100 hover:bg-indigo-200">
              LinkedIn
            </a>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h3 class="text-lg font-semibold mb-2">Skills</h3>
          <ul class="space-y-2">
            <li>Web Security</li>
            <li>VAPT</li>
            <li>Network Security</li>
            <li>Report Writing and Documentation</li>
          </ul>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h3 class="text-lg font-semibold mb-2">Certifications</h3>
          <ul class="space-y-2">
            <li>Tryhackme CompTIA Pentest+</li>
            <li>Practical Cisco Networking Labs in Cisco Packet Tracer</li>
            <li>Tryhackme Jr Penetration Tester</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>